/*header*/

header {
    flex-wrap: wrap;
}

header nav {
    order: 3;
}

header p {
    width: 50%;
    text-align: end;
}

#logo {
    width: 100%;
}

/*Property DIV*/

#property {
    flex-direction: column-reverse;
    margin: 0;
}

#results_list {
    background-color: white;
    border-radius: 0;
    margin-right: 0;
}

#best_results_list {
     background-color: #F2F2F2;
     border-radius: 0;
     margin-left: 0;
}

 .best_results_list {
     min-height: auto;
}

 #best_results {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*activities*/


#activities_list {
    margin: 0;
}

#activities {
    flex-direction: column;
}

#activities_column-2 {
    flex-direction: row-reverse;
}

footer {
    flex-wrap: wrap;
}

.footer {
    margin: 30px;
}