/*header*/

header {
    flex-wrap: wrap;
    margin: 0;
}

#logo {
    margin-left: 20px;
}

header nav {
    order: 3;
    flex: 2;
}

header p{
    padding: 15px;
    width: 50%;
    text-align: end;
}

header ul {
    padding: 0;
}

header li {
    width: 100%;
    margin: 0;
    text-align: center;
}

nav li a {
    width: 100%;
    padding: 10px;
}

nav li a:hover {
    border-top: none;
    border-bottom: 2px solid #0065FC;
    color: #0065FC;
}

/*title*/

#main_Title {
    margin: 30px;
}

#main_Title p {
    font-size: 0.8em;
}

/*teaser*/

#teaser {
    margin: 30px 20px;
    max-width: 355px;
    min-width: 300px;
}

.teaser-button {
    border-radius: 20px;
}

.teaser-button-text {
    display: none;
}

.teaser-button-icon {
    display: block !important;
    width: 44px;
}

/*filters*/

#filters {
    margin: 30px 20px;
}

#filters-name {
    width: 100%;
}

/*nb results*/

#nb_results {
    margin: 20px;
}

/*Property DIV*/

#property {
    flex-direction: column-reverse;
    margin: 0;
}

#results_list {
    background-color: white;
    border-radius: 0;
    margin-right: 0;
}

#results-title {
    margin-left: 20px;
}

#best_results_list {
     background-color: #F2F2F2;
     border-radius: 0;
     margin-left: 0;
 }

.result {
    max-width: 100%;
}

#best_results-title {
    padding: 20px 0 0 0;
}

#best_results-title h2 {
    margin-left: 20px;
}

#best_results_list a {
    width: 100%;
}

.best_result {
    max-width: 100%;
}

.best_results_list {
    margin: 0;
}

#extended-list {
    padding-bottom: 0;
}

/*activities*/

#activities_list {
    margin: 0;
}

#activities {
    flex-direction: column;
}

#activities_column-1, #activities_column-2 {
    flex-direction: column;
}

 .activities {
    overflow: hidden;
    border-radius: 20px;
    margin:20px;
    box-shadow: 4px 4px 4px #f2f2f2;
 }

 #port img, #calanques img {
    height: 200px;
}

#pomegues {
    flex: auto;
}

#pomegues img {
    height: 200px;
}

#frioul {
    flex: auto;
}

#frioul img {
    height: 200px;
}

#damegarde img, #longchamp img {
    height: 200px;
}

/*Footer*/

footer {
    flex-direction: column;
}

.footer {
    width: 80%;
    margin: 10px 20px;
}