body{
    font-family: 'Raleway', sans-serif;
    max-width: 1430px;
    margin: auto;
    padding: 0px 50px;
}

a{
    text-decoration: none;
}

a:visited{
    color: black;
}

/*Mise en forme du header*/

header{
    display: flex;
    justify-content: flex-end;
}

#logo{
    display: flex;
    align-items: center;
    flex: 1;
}

nav ul{
    display: flex;
    list-style-type: none;
}


.header svg, header li, header p{
    padding: 30px 20px 0px 20px;
}

nav li{
    margin:0px 10px 0px 0px;
}

nav li:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

#register{
    text-decoration: none;
    color: 0065FC;
    font-weight: bold;
}

/*Mise en forme du titre*/

#main_Title h1{
    font-size: 1.4em;
    margin-bottom: 10px ;
}

#main_Title p{
    margin-top: 0;
    margin-bottom: 20px;
}

/*Mise en forme de la teaser*/

#teaser form{
    display: flex;
    margin: 30px 0px;
}

.teaser-icon{
    width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teaser-search{
    background-color: #F2F2F2 ;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teaser-search input{

    width: 230px;
    border: 1px #F2F2F2;
    padding-left: 10px;
    height: 95%;
    font-size: 1.1em;
    font-weight: bold;
}

/*pour retirer la croix d'effacement de l'input type="search"*/
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

.teaser-button{
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
}

.teaser-button input{
    width: 135px;
    height: 100%;
    background: transparent;
    border:0;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

/*Mise en forme des filtres*/

#filters{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0px;
}

 #filters-name{
    height: 50px;
    margin: 3px 0px;
 }

#filters h2{
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 18px;
    font-size: 1.1em;
}

.filter-label{
    position: relative;
    height: 50px;
    padding: 0px 22px 0px 65px;
    border: solid 2px #F2F2F2;
    border-radius: 50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.filter-icon{
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border:2px solid #DEEBFF;
    border-radius: 50px;
    z-index: 1;
    color:#0065FC;
}

.filter{
    margin: 3px 12px;
}

.filter-icon:hover{
    z-index:auto;
}

.filter-label:hover{
    border:2px solid transparent;
    box-shadow: 6px 6px 6px #DEEBFF;
    z-index: 1;
}

/*mise en forme de la section nb_results*/

#nb_results{
    display: flex;
    align-items: center;
}

.nb_results-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 22px;
    border: 1px solid #DEEBFF;
    border-radius: 50px;
    color: #0065FC;
    font-size: 12px;
}

#nb_results p{
    margin-left: 12px;
}

/*mise en forme div property*/

#property{
    display: flex;
}

#results_list{
    flex: 2;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-right: 20px;
    padding: 25px;
}

#best_results_list{
   flex: 1;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 20px;
    padding: 25px;
}

/*mise en forme results_list*/

#results_list h2{
    margin-left: 40px;
}

#extended-list{
    margin-left: 40px;
    font-size: 1.2em;
    font-weight: bold;
}

/*articles*/

#results{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.result{
    background-color: white;
    border-radius: 20px;
    width: 236px;
    margin: 15px;
    border: 5px solid white;
    box-shadow: 0px 0px 3px #F2F2F2;
}

.result img{
    object-fit: cover;
    width: 100%;
    height: 114px;
    border-radius: 15px 15px 0px 0px;
}

.result h3, .result p, .result .property_rank{
    margin: 5px 0px 0px 10px;
}

#results p{
    font-size: 0.8em;
}

.best-rate{
    font-weight: bold;
}

.devise{
    font-weight: bold;
}

.property_rank{
    display: flex;
}

.star-on{
    color: #0065FC;
    font-size: 12px;
    margin : 5px 1px;
}

.star-off{
    color: #F2F2F2;
    font-size: 12px;
    margin : 5px 1px;
}

/*aside*/

#best_results-title{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#best_results-logo{
    font-size: 1.3em;
}

#best_results{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.best_result {
    background-color: white;
    width: 333px;
    height: 134px;
    border-radius: 20px;
    border: 5px solid white;
    box-shadow: 0px 0px 3px #f2f2f2;
    display: flex;
    margin: 15px;
}

.best_result img{
    object-fit: cover;
    width: 127px;
    border-radius: 15px 0px 0px 15px;
}

.best_result-content{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.best_result h3, .best_result p, .best_result .best_property_rank{
    margin: 5px 0px 0px 10px;
}

/*mise en forme section activities*/

 #activities{
     display: flex;
 }

 .activities_column{
    max-height: 485px;
    width: 25%;
    display: flex;
    flex-direction: column;

 }

 .activities{
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    margin:20px;
 }

.activities img {
    object-fit: cover;
    min-width: 100%;
    max-height: 100%;
    position: relative;
}

.activities h3{
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    padding: 20px;
    margin: 0;
}